In [ ]:
import pandas as pd

In [36]:
df_movie= pd.read_csv("./data/raw/movie.csv")
df_rating = pd.read_csv("./data/raw/rating.csv")
df_tag = pd.read_csv("./data/raw/tag.csv")
df_link = pd.read_csv("./data/raw/link.csv")
df_gtags = pd.read_csv("./data/raw/genome_tags.csv") 
df_scores = pd.read_csv("./data/raw/genome_scores.csv")

In [34]:
for df in [df_movie, df_rating, df_tag, df_link, df_gtags, df_scores]:
    print(df.columns)

Index(['movieId', 'title', 'genres'], dtype='str')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='str')
Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='str')
Index(['movieId', 'imdbId', 'tmdbId'], dtype='str')
Index(['tagId', 'tag'], dtype='str')
Index(['movieId', 'tagId', 'relevance'], dtype='str')

In [35]:
df_tag

        userId  movieId            tag            timestamp
0           18     4141    Mark Waters  2009-04-24 18:19:40
1           65      208      dark hero  2013-05-10 01:41:18
2           65      353      dark hero  2013-05-10 01:41:19
3           65      521  noir thriller  2013-05-10 01:39:43
4           65      592      dark hero  2013-05-10 01:41:18
...        ...      ...            ...                  ...
465559  138446    55999        dragged  2013-01-23 23:29:32
465560  138446    55999  Jason Bateman  2013-01-23 23:29:38
465561  138446    55999         quirky  2013-01-23 23:29:38
465562  138446    55999            sad  2013-01-23 23:29:32
465563  138472      923  rise to power  2007-11-02 21:12:47

[465564 rows x 4 columns]

In [ ]:
master_df = pd.read_csv("/Users/atharv/Projects/My Projects/ movie_recommendation/data/processed/master_dataset.csv")
master_df.iloc[0]

movieId                                                         1
title                                            Toy Story (1995)
genres                Adventure Animation Children Comedy Fantasy
avg_rating                                                3.92124
rating_count                                              49695.0
tag             Watched computer animation Disney animated fea...
genome_tags     3d action adventure affectionate animal movie ...
imdbId                                                     114709
tmdbId                                                      862.0
Name: 0, dtype: object

In [26]:
df_tag.iloc[0]

userId                        18
movieId                     4141
tag                  Mark Waters
timestamp    2009-04-24 18:19:40
Name: 0, dtype: object

In [38]:
master_df = pd.read_csv("/Users/atharv/Projects/My Projects/ movie_recommendation/data/processed/master_dataset.csv")
master_df.head()

,movieId,title,genres,avg_rating,rating_count,tag,genome_tags,imdbId,tmdbId
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.921240,49695.0,Watched computer animation Disney animated fea...,3d action adventure affectionate animal movie ...,114709,862.0
1,2,Jumanji (1995),Adventure Children Fantasy,3.211977,22243.0,time travel adapted from:book board game child...,action adapted from:book adventure animal movi...,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy Romance,3.151040,12735.0,old people that is actually funny sequel fever...,chase comedy crappy sequel destiny family fish...,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.861393,2756.0,chick flick revenge characters chick flick cha...,adultery betrayal chick flick divorce feel goo...,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0,Diane Keaton family sequel Steve Martin weddin...,catastrophe chase comedy crappy sequel culture...,113041,11862.0

In [44]:
master_df["text_features"] = (master_df["genres"].fillna("")+ " " + master_df["tag"].fillna("") + " " + master_df["genome_tags"].fillna(""))

In [45]:
master_df["text_features"][0]

"Adventure Animation Children Comedy Fantasy Watched computer animation Disney animated feature Pixar animation TÃ©a Leoni does not star in this movie Pixar animation family Tom Hanks Pixar witty Pixar adventure animated animation clever comedy computer animation family fantasy Tom Hanks bright DARING RESCUES fanciful HEROIC MISSION humorous light rousing TOYS COME TO LIFE UNLIKELY FRIENDSHIPS warm witty animation humorous Pixar time travel Pixar Pixar animation animation kids movie Pixar Pixar Pixar witty Disney Tim Allen time travel action figure action figures Buzz Lightyear CG animation toy toys Woody animation Pixar animation Disney villian hurts toys pixar animation disney fantasy Pixar animation pixar children é˜®ä¸€é¸£ animation computer animation funny humorous Pixar Tom Hanks witty 3D Disney funny Pixar time travel Pixar time travel animation Pixar Cartoon Disney toy toys Pixar Pixar animation pixar animated animation comedy Disney Pixar ya boy clever computer animation Disney fantasy Pixar toys witty animation cgi rated-G Pixar children computer animation family funny Pixar Tom Hanks toys lots of heart Animation Pixar want to see again children Disney computer animation funny Pixar animation fantasy Pixar animation Pixar Disney Pixar Tim Allen Tom Hanks Pixar animation comedy Disney Pixar imdb top 250 animation pixar Tim Allen Tom Hanks 3D animated children comedy computer animation Disney family humorous Pixar time travel Tom Hanks children Pixar Tom Hanks animation Pixar animated animation buddy movie computer animation funny Pixar Tom Hanks Tom Hanks Cartoon animation comedy funny imdb top 250 Pixar Pixar Tom Hanks pixar animation cgi Disney family Pixar toys computer animation Pixar children family Pixar Tom Hanks toys witty Pixar the boys Pixar animated cgi comedy animated animation children comedy fantasy funny humorous Pixar time travel very good Best of Rotten Tomatoes: All Time John Lasseter Pixar animation computer animation pixar toys adventure animation comedy family fantasy John Lasseter USA adventure children classic computer animation Disney funny Pixar Tim Allen Tom Hanks animation Pixar adventure children family funny animation Tom Hanks avi buy animated fun pixar computer animation 3D children Want classic pixar children computer animation family humorous time travel Tom Hanks witty Pixar animation pixar Pixar CGI classic disney pixar pixar animation Disney Pixar soothing Tom Hanks almost favorite toys computer animation Disney humorous Pixar funny Pixar adventure animated animation buddy movie children classic clever comedy computer animation Disney family fantasy funny humorous imdb top 250 Pixar time travel Tom Hanks toys witty adventure animation children comedy Disney animation fun animation children clever Disney family funny humorous imdb top 250 Pixar Pixar animation Tom Hanks Pixar Disney Pixar adventure animated animation classic Disney fantasy Pixar Tom Hanks toys animation children computer animation Disney family Pixar animation Pixar animation friendship toys computer animation Pixar adventure computer animation Pixar pixar animation Pixar Tim Allen Tom Hanks family film friendship toys cute funny story voice acting witty classic Disney Pixar animation Pixar animation classic comedy computer animation Disney funny humorous Pixar time travel Tom Hanks witty first cgi film animation children Disney animation children computer animation Disney imdb top 250 John Lasseter Pixar Tom Hanks Engaging animation comedy funny Pixar 2009 reissue in Stereoscopic 3-D 55 movies every kid should see--Entertainment Weekly BD-Video CLV DVD-Video animation children Disney Pixar animation animated animation buddy movie children clever time travel witty kids and family Pixar witty animation erlend's DVDs funny Pixar witty innovative buddy movie Tom Hanks witty time travel dolls National Film Registry adventure animation comedy funny humorous Pixar animation Disney Pixar toys adventure funny Tumey's To See Again Tumey's VHS 3d action adventure affectionate animal movie animals animated animation based on book cartoon cgi chase childhood children classic clever colourful comedy computer animation cool creativity cute cute! destiny dialogue disney disney animated feature entertaining excellent excellent script fairy tale family fantasy feel good movie feel-good friendship fun fun movie funny good good soundtrack great great ending great movie heartwarming highly quotable humor humorous imagination imdb top 250 interesting kids kids and family light mentor monsters nostalgic original original plot oscar (best animated feature) oscar (best directing) oscar winner pixar pixar animation quotable runaway sentimental simple story storytelling sweet talking animals talky technology touching toys unlikely friendships very funny very good visual whimsical witty"

In [50]:
import re
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^a-z0-9\s]", " ", text)
    text = re.sub(r"\s+", " " , text)
    return text.strip()

master_df["text_features"]= master_df["text_features"].apply(clean_text)

In [51]:
master_df["text_features"][0]

'adventure animation children comedy fantasy watched computer animation disney animated feature pixar animation t a leoni does not star in this movie pixar animation family tom hanks pixar witty pixar adventure animated animation clever comedy computer animation family fantasy tom hanks bright daring rescues fanciful heroic mission humorous light rousing toys come to life unlikely friendships warm witty animation humorous pixar time travel pixar pixar animation animation kids movie pixar pixar pixar witty disney tim allen time travel action figure action figures buzz lightyear cg animation toy toys woody animation pixar animation disney villian hurts toys pixar animation disney fantasy pixar animation pixar children animation computer animation funny humorous pixar tom hanks witty 3d disney funny pixar time travel pixar time travel animation pixar cartoon disney toy toys pixar pixar animation pixar animated animation comedy disney pixar ya boy clever computer animation disney fantasy pixar toys witty animation cgi rated g pixar children computer animation family funny pixar tom hanks toys lots of heart animation pixar want to see again children disney computer animation funny pixar animation fantasy pixar animation pixar disney pixar tim allen tom hanks pixar animation comedy disney pixar imdb top 250 animation pixar tim allen tom hanks 3d animated children comedy computer animation disney family humorous pixar time travel tom hanks children pixar tom hanks animation pixar animated animation buddy movie computer animation funny pixar tom hanks tom hanks cartoon animation comedy funny imdb top 250 pixar pixar tom hanks pixar animation cgi disney family pixar toys computer animation pixar children family pixar tom hanks toys witty pixar the boys pixar animated cgi comedy animated animation children comedy fantasy funny humorous pixar time travel very good best of rotten tomatoes all time john lasseter pixar animation computer animation pixar toys adventure animation comedy family fantasy john lasseter usa adventure children classic computer animation disney funny pixar tim allen tom hanks animation pixar adventure children family funny animation tom hanks avi buy animated fun pixar computer animation 3d children want classic pixar children computer animation family humorous time travel tom hanks witty pixar animation pixar pixar cgi classic disney pixar pixar animation disney pixar soothing tom hanks almost favorite toys computer animation disney humorous pixar funny pixar adventure animated animation buddy movie children classic clever comedy computer animation disney family fantasy funny humorous imdb top 250 pixar time travel tom hanks toys witty adventure animation children comedy disney animation fun animation children clever disney family funny humorous imdb top 250 pixar pixar animation tom hanks pixar disney pixar adventure animated animation classic disney fantasy pixar tom hanks toys animation children computer animation disney family pixar animation pixar animation friendship toys computer animation pixar adventure computer animation pixar pixar animation pixar tim allen tom hanks family film friendship toys cute funny story voice acting witty classic disney pixar animation pixar animation classic comedy computer animation disney funny humorous pixar time travel tom hanks witty first cgi film animation children disney animation children computer animation disney imdb top 250 john lasseter pixar tom hanks engaging animation comedy funny pixar 2009 reissue in stereoscopic 3 d 55 movies every kid should see entertainment weekly bd video clv dvd video animation children disney pixar animation animated animation buddy movie children clever time travel witty kids and family pixar witty animation erlend s dvds funny pixar witty innovative buddy movie tom hanks witty time travel dolls national film registry adventure animation comedy funny humorous pixar animation disney pixar toys adventure funny tumey s to see again tumey s vhs 3d action adventure affectionate animal movie animals animated animation based on book cartoon cgi chase childhood children classic clever colourful comedy computer animation cool creativity cute cute destiny dialogue disney disney animated feature entertaining excellent excellent script fairy tale family fantasy feel good movie feel good friendship fun fun movie funny good good soundtrack great great ending great movie heartwarming highly quotable humor humorous imagination imdb top 250 interesting kids kids and family light mentor monsters nostalgic original original plot oscar best animated feature oscar best directing oscar winner pixar pixar animation quotable runaway sentimental simple story storytelling sweet talking animals talky technology touching toys unlikely friendships very funny very good visual whimsical witty'

In [58]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

master_df["rating_count_log"] = np.log1p(master_df["rating_count"])

scaler = StandardScaler()
numeric_vectors = scaler.fit_transform(
    master_df[["avg_rating", "rating_count_log"]]
)
master_df

,movieId,title,genres,avg_rating,rating_count,tag,genome_tags,imdbId,tmdbId,test_features,text_features,rating_count_log
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.921240,49695.0,Watched computer animation Disney animated fea...,3d action adventure affectionate animal movie ...,114709,862.0,Adventure Animation Children Comedy Fantasy Wa...,adventure animation children comedy fantasy wa...,10.813680
1,2,Jumanji (1995),Adventure Children Fantasy,3.211977,22243.0,time travel adapted from:book board game child...,action adapted from:book adventure animal movi...,113497,8844.0,Adventure Children Fantasy time travel adapted...,adventure children fantasy time travel adapted...,10.009828
2,3,Grumpier Old Men (1995),Comedy Romance,3.151040,12735.0,old people that is actually funny sequel fever...,chase comedy crappy sequel destiny family fish...,113228,15602.0,Comedy Romance old people that is actually fun...,comedy romance old people that is actually fun...,9.452188
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.861393,2756.0,chick flick revenge characters chick flick cha...,adultery betrayal chick flick divorce feel goo...,114885,31357.0,Comedy Drama Romance chick flick revenge chara...,comedy drama romance chick flick revenge chara...,7.921898
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0,Diane Keaton family sequel Steve Martin weddin...,catastrophe chase comedy crappy sequel culture...,113041,11862.0,Comedy Diane Keaton family sequel Steve Martin...,comedy diane keaton family sequel steve martin...,9.406072
...,...,...,...,...,...,...,...,...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,4.000000,1.0,NaN,NaN,466713,4436.0,Comedy,comedy,0.693147
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.000000,1.0,NaN,NaN,277703,9274.0,Comedy,comedy,0.693147
27275,131258,The Pirates (2014),Adventure,2.500000,1.0,bandits Korea mutiny pirates whale,NaN,3485166,285213.0,Adventure bandits Korea mutiny pirates whale,adventure bandits korea mutiny pirates whale,0.693147
27276,131260,Rentun Ruusu (2001),(no genres listed),3.000000,1.0,NaN,NaN,249110,32099.0,(no genres listed),no genres listed,0.693147
27277,131262,Innocence (2014),Adventure Fantasy Horror,4.000000,1.0,NaN,NaN,1724965,286971.0,Adventure Fantasy Horror,adventure fantasy horror,0.693147

In [67]:

master_df

,movieId,title,genres,avg_rating,rating_count,tag,genome_tags,imdbId,tmdbId,text_features,rating_count_log
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.921240,49695.0,Watched computer animation Disney animated fea...,3d action adventure affectionate animal movie ...,114709,862.0,adventure animation children comedy fantasy wa...,10.813680
1,2,Jumanji (1995),Adventure Children Fantasy,3.211977,22243.0,time travel adapted from:book board game child...,action adapted from:book adventure animal movi...,113497,8844.0,adventure children fantasy time travel adapted...,10.009828
2,3,Grumpier Old Men (1995),Comedy Romance,3.151040,12735.0,old people that is actually funny sequel fever...,chase comedy crappy sequel destiny family fish...,113228,15602.0,comedy romance old people that is actually fun...,9.452188
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.861393,2756.0,chick flick revenge characters chick flick cha...,adultery betrayal chick flick divorce feel goo...,114885,31357.0,comedy drama romance chick flick revenge chara...,7.921898
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0,Diane Keaton family sequel Steve Martin weddin...,catastrophe chase comedy crappy sequel culture...,113041,11862.0,comedy diane keaton family sequel steve martin...,9.406072
...,...,...,...,...,...,...,...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,4.000000,1.0,NaN,NaN,466713,4436.0,comedy,0.693147
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.000000,1.0,NaN,NaN,277703,9274.0,comedy,0.693147
27275,131258,The Pirates (2014),Adventure,2.500000,1.0,bandits Korea mutiny pirates whale,NaN,3485166,285213.0,adventure bandits korea mutiny pirates whale,0.693147
27276,131260,Rentun Ruusu (2001),(no genres listed),3.000000,1.0,NaN,NaN,249110,32099.0,no genres listed,0.693147
27277,131262,Innocence (2014),Adventure Fantasy Horror,4.000000,1.0,NaN,NaN,1724965,286971.0,adventure fantasy horror,0.693147

In [69]:
master_df = master_df.drop("rating_count_log", axis=1)

In [70]:
master_df

,movieId,title,genres,avg_rating,rating_count,tag,genome_tags,imdbId,tmdbId,text_features
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.921240,49695.0,Watched computer animation Disney animated fea...,3d action adventure affectionate animal movie ...,114709,862.0,adventure animation children comedy fantasy wa...
1,2,Jumanji (1995),Adventure Children Fantasy,3.211977,22243.0,time travel adapted from:book board game child...,action adapted from:book adventure animal movi...,113497,8844.0,adventure children fantasy time travel adapted...
2,3,Grumpier Old Men (1995),Comedy Romance,3.151040,12735.0,old people that is actually funny sequel fever...,chase comedy crappy sequel destiny family fish...,113228,15602.0,comedy romance old people that is actually fun...
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.861393,2756.0,chick flick revenge characters chick flick cha...,adultery betrayal chick flick divorce feel goo...,114885,31357.0,comedy drama romance chick flick revenge chara...
4,5,Father of the Bride Part II (1995),Comedy,3.064592,12161.0,Diane Keaton family sequel Steve Martin weddin...,catastrophe chase comedy crappy sequel culture...,113041,11862.0,comedy diane keaton family sequel steve martin...
...,...,...,...,...,...,...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,4.000000,1.0,NaN,NaN,466713,4436.0,comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,4.000000,1.0,NaN,NaN,277703,9274.0,comedy
27275,131258,The Pirates (2014),Adventure,2.500000,1.0,bandits Korea mutiny pirates whale,NaN,3485166,285213.0,adventure bandits korea mutiny pirates whale
27276,131260,Rentun Ruusu (2001),(no genres listed),3.000000,1.0,NaN,NaN,249110,32099.0,no genres listed
27277,131262,Innocence (2014),Adventure Fantasy Horror,4.000000,1.0,NaN,NaN,1724965,286971.0,adventure fantasy horror

In [72]:
master_df["rating_count_log"] = np.log1p(master_df["rating_count"])
scaler = StandardScaler()
numeric_vectors = scaler.fit_transform(
    master_df[["avg_rating", "rating_count_log"]]
)
numeric_vectors

array([[ 1.18667816,  2.96783805],
       [ 0.11862694,  2.64028699],
       [ 0.02686524,  2.41306178],
       ...,
       [-0.95351125, -1.15604376],
       [-0.20058069, -1.15604376],
       [ 1.30528044, -1.15604376]], shape=(27278, 2))